.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #007BFF;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    pointer-events: none;
}
